PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=riwimedicare
DB_USER=postgres
DB_PASSWORD=tu_password
JWT_SECRET=tu_secreto_jwt
JWT_EXPIRES_IN=1dPORT=3000
DB_HOST=localhost
DB_PORT=5439
DB_NAME=riwimedicare
DB_USER=postgres
DB_PASSWORD=tu_password
JWT_SECRET=tu_secreto_jwt
JWT_EXPIRES_IN=1d